body{
  margin: 0 auto;
}

h2,h3{
  font-family: 'Luckiest Guy', cursive;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 20px;
}
p{
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}
header{
  margin-top: 30px;
  text-align: center;
}
header img{
  width: 500px;
}
.pixar-header img{
  width: 700px;
}
.dreamworks-header{
  margin-top: 0px;
}
img{
  width: 200px;
}
nav {
  padding: 30px;
  margin-top: 0;
  margin-left: 0;
  text-align: center;
  background-color: #1252ba;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

nav a {
  color: #7ca1dd;
  display: block;
  text-decoration: none;
  font-family: 'Gochi Hand', cursive;
  font-size: 25px;
  padding: 5px 30px 5px 30px;
}

nav a:hover {
  background-color: rgb(206,217,239);
  border-radius: 5px;
}

nav li {
  display: inline-block;
}

nav .is-current {
  background-color: #7ca1dd;
  color: rgb(206,217,239);
  border-radius: 5px;
}
.posters ul li{
  display: block;
  text-align: center;
}
article{
  width: 600px;
  float: right;
  padding-right: 100px;
}
.posters p{
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

.survey {

}

.blink{
    //float: right;
    //margin-right: 35px;
    color: orangered;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


label{
  color: #886800;
  font-weight: bold;
  float: left;
}

.bg-button-gold{
  background-color: #886800;
  color: white;
  font-weight: bold;
  float: left;
  border-radius: 8px;
}

.bt{
  margin-top: 5px;
}

.in, input{
  float: left;
}

.sidebox{
  border-style: solid;
  border-radius: 8px;
  border-color: #886800;
  max-width: 370px;
}

.fm{
  padding: 10px;
}


aside{
  margin-left: 100px;
}

.error{
  color: red;
}
